p {
  color: black;
}

body {
  background-color: white;
  font-family: 'Titillium Web', sans-serif;
}

li {
  list-style: none;
}

.pie {
  height: auto;
  background-color: white;
}
img {
  height: 300px;
}
#videohome {
  height: 300px;
}
@media screen and (min-width: 768px) {
  img {
    height: 600px;
  }
  #videohome {
    height: 500px;
  }
}
/*hacer media query*/
.foot:hover {
  text-decoration: none;
  font-size: 1.2rem;
}
.nav-link:hover {
  background-color: black;
  color: white !important;
}
.navbar {
  background-color: white;
  box-shadow: 8 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-height: 100px;
}
.nav-link {
  color: black;
}
.logo-brand {
  height: 110px;
}
.navbar-toggler {
  font-size: 40px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler-icon {
  background-color: white;
}
.cajatexto {
  background-color: black !important;
}
.cajatexto h4 {
  font-size: 25px;
  padding: 10px;
}
h6 {
  font-size: 1rem;
  font-size: 28px;
  color: gray !important;
  text-shadow: 2px 2px 5px grey;
}
.cajatexto p {
  font-weight: 200;
  font-size: 19px;
}
span {
  color: red;
  font-size: 22px;
}
@media screen and (min-width: 768px) {
  .cajatexto h4 {
    font-size: 35px;
    padding: 20px;
  }
}
.caja-principal {
  background-color: white !important;
}
